ion-icon[name="trash-outline"] {
  color:#3b6978;
  justify-self: end;
  height: 1.4rem;
  width: 1.4rem;
  padding-top: 10px;
  margin-left: 25px;
 
}
 
ion-icon[name="create-outline"] {
  color:#3b6978;
  justify-self: end;
  height: 1.4rem;
  width: 1.4rem;
  padding-top: 10px;
  margin-left: 50px;
 
}
 
ion-icon[name="person-add-outline"] {
  justify-self: end;
  align-self: center;
  height: 1.2rem;
  width: 1.2rem;
}
 
ion-fab {
  color: wheat;
}
 
ion-fab-button {
  --background:#5427f5;
  height: 50px;
  width: 50px;
}
 
ion-item {
  padding-bottom: px;
  border-bottom: solid;
  border-color:rgb(214, 211, 211);
}

h5{
  color: rgb(33, 4, 36);
  font-weight: lighter;
  font-family: 'Times New Roman';
}

p{
  color: grey;
  font-weight: lighter;
  font-family: 'Times New Roman';
}
 
ion-toolbar{
  --background:rgb(29, 4, 95) ;
  height:65px;
}
 
ion-title{
  letter-spacing: 1px;
  color: white;
  font-weight: lighter;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}


